@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800');

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	-webkit-scroll-behavior: smooth;
	scroll-behavior: smooth;
	font-size: 16px;
	font-size-adjust: 0.5;
	overflow-x: ;
}

body {
	display: flex;
	flex-direction: column;
	background: linear-gradient(rgba(4, 96, 97, 0.3), #041522) 70%, linear-gradient(125deg, rgba(4, 96, 97, 0.3), #041522);
	background-attachment: fixed;
}

body,
p {
	padding: 0;
	margin: 0;
	font: inherit;
	font-family: 'Open Sans', sans-serif;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100vw;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	display: flex;
	justify-content: space-between;
}

#menu {
	display: block;
}

#nav a {
	margin: .1rem .6rem;
	padding: 0.8rem 1rem;
	width: 11.25rem;
	display: block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

#nav a:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

#header {
	position: relative;
	height: 100vh;
	background-color: #ddd;
	background-image:
		url(media/oceanfish-blaque-x.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
}

.overlay-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overlay-main img {
	margin: 2rem;
	height: 80%;
	width: auto;
	display: inline;
	text-align: center;
}

.overlay-main h1 {
	margin: -1.5rem 0 2rem 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3.8rem;
	text-align: center;
}

.overlay-main h2 {
	margin: -3.0rem 0 2rem 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3.0rem;
	text-align: center;
}

.overlay-main p {
	margin: -3 0;
	font-family: Lora, serif;
	font-style: italic;
	font-size: 2rem;
	max-width: 800px;
	text-align: center;
}

#buttons {
	width: 10px;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	right: -120px;
	align-items: center;
	justify-content: center;
	margin: 24vh 20px 50vh 0;
	font-size: 30px;
	color: lightgrey;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

#buttons i {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
	padding: 5px 55px;
	transition: all 0.3s;
}

#buttons i:hover {
	background-color: rgba(0, 0, 0, 1);
	transform: scale(1.4);
}

.button {
	border-radius: 1em;
}

a,
a:visited {
	text-decoration: none;
	color: white;
}

.toggle {
	right: 0px !important;
}

.section {
	margin: 0;
	height: 100vh;
	width: auto;
	display: flex;
	flex-direction: row;
	color: #fff;
}

.section:nth-child(even) {
	flex-direction: row-reverse;
}

.section div {
	margin: 0;
	flex-basis: 50vh;
	flex-grow: 1;
}

.section div:first-child {
	background-color: #aaa;
	background-size: cover;
	background-position: top right;
	flex-basis: 50%;
	flex-grow: 1;
}

.section div:last-child {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-basis: 50%;
	flex-grow: 1;
}

.section h3 {
	margin-bottom: 0.3rem;
	padding-top: 7rem;
	flex-grow: 1;
}

.section p {
	margin-bottom: 3rem;
	flex-grow: 2;
}

.vid {
	overflow: hidden;
}

.vid video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.info {
	background: rgba(0, 0, 0, .5);
}

ul.twocolumns {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
	margin-bottom: 3rem;
	flex-grow: 2;
}

.goto {
	text-decoration: none;
	color: #fff;
	background: rgba(0, 0, 0, .8);
	display: inline-block;
	padding: 0.8rem 3rem;
	font-weight: 800;
	font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 3px 15px 1px rgba(4, 96, 97, 0.25);
	transition: all 0.3s;
}

.goto:hover {
	box-shadow: 0 3px 18px 2px rgba(4, 96, 97, .7);
}

#social {
	height: 100vh;
}

#rights {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	color: #fff;
}

/* mobile environments */
@media only screen and (max-width: 535px) {
	html {
		font-size: 11px;
	}

	.not-in-mobile {
		display: none !important;
	}

	ul#nav {
		align-items: center;
		justify-content: center;
	}

	.overlay-main img {
		display: none;
	}

	.section,
	.section:nth-child(even) {
		flex-direction: column;
	}

	.section div {
		flex-basis: auto;
	}

	.section div:first-child {
		height: 50vh;
	}
}

@media only screen and (max-height: 450px) {
	html {
		font-size: 8px;
	}

	.overlay-main img {
		display: none;
	}
}
