@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800');

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
	font-size-adjust: 0.5;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

body,
p {
	padding: 0;
	margin: 0;
	font: inherit;
	font-family: 'Open Sans', sans-serif;
}

div div {
	margin: 0 2rem 0 2rem;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100vw;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	display: flex;
	justify-content: space-between;
}

#menu {
	display: block;
}

#nav a {
	margin: .1rem .6rem;
	padding: 0.8rem 1rem;
	width: 11.25rem;
	display: block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

#nav a:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

#header {
	position: relative;
	height: 100vh;
	background-color: #ddd;
	background-image:
		url(media/oceanfish-blaque-x.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
}

.overlay-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overlay-main img {
	margin: 2rem;
	height: 80%;
	width: auto;
	display: inline;
	text-align: center;
}

.overlay-main h1 {
	margin: -1.5rem 0 2rem 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3.8rem;
	text-align: center;
}

.overlay-main h2 {
	margin: -3.0rem 0 2rem 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3.0rem;
	text-align: center;
}

.overlay-main p {
	margin: -3 0;
	font-family: Lora, serif;
	font-style: italic;
	font-size: 2rem;
	max-width: 800px;
	text-align: center;
}

#buttons {
	width: 10px;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	right: -120px;
	align-items: center;
	justify-content: center;
	margin: 24vh 20px 50vh 0;
	font-size: 30px;
	color: lightgrey;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

#buttons i {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
	padding: 5px 55px;
	transition: all 0.3s;
}

#buttons i:hover {
	background-color: rgba(0, 0, 0, 1);
	transform: scale(1.4);
}

.button {
	border-radius: 1em;
}

a,
a:visited {
	text-decoration: none;
	color: white;
}

.toggle {
	right: 0px !important;
}

#contents {
	height: 100%;
	width: 100%;
}

#contents div {
	height: 100vh;
	width: auto;
}

#social {
	height: 100vh;
}

#rights {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	color: #fff;
}

/* mobile environments */
@media only screen and (max-width: 535px) {

	html {
		font-size: 11px;
	}

	.not-in-mobile {
		display: none !important;
	}

	ul#nav {
		align-items: center;
		justify-content: center;
	}

	img.center {
		display: block;
		margin: 0 auto;
	}

}
